* {
    margin: 0px;
    padding: 0px;
  }

body{
    /* background-image: url(/Image/istockphoto-1331252840-170667a.jpg); */
    background-size: cover;
    background-attachment: fixed;
 }
 .col-lg-6 {
  color: rgb(31, 27, 27);
  margin-top: 35px;
}

.col-lg-12{
  margin-top: 50px;
}

.card-titel{
  margin-left: 5px;
}

.car-body{
  margin: 15px 5px 20px 15px;
}

ul li{
  list-style-type: none;
}

.text-center{
  /* padding-top: 50px; */
  margin-top: 80px;
}