* {
  margin: 0px;
  padding: 0px;
}

body{
   /* background-image: url(Image/bébé.jpg); */
   /* background-color: rgb(125, 163, 170); */
   background-size: cover;
   background-attachment: fixed;
   overflow-x: hidden;
}

h1 {
  color: rgb(46, 0, 252);
}


h2 { 
  color: rgb(0, 17, 255);
}

h5 { 
  color: rgb(0, 17, 255);
}

.texte_left{
  color: white;
}

.texte_droit{
  color: rgb(65, 62, 62);
}

.col-md-7{
  margin-top: 90px;
}

label{
  color: white;
}

input[type="radio"]{
  margin-top: 29px;
}

small{
  color: white;
}

.col-md-5{
  margin-top: 80px;
  margin-bottom: 80px;
  /* box-shadow: -0.8px 1px 60px 6px ; */
  background: rgba(0, 0, 0, 0.527);
  height: 490px;
  border-radius: 15px 15px 15px 15px;
}

.btn-info{
  margin-top: 10px;
  font-size: 18px;
  width: 120px;
  margin-left: 80px;
  color: white;
  box-shadow: 1px 1.5px 1.5px 1px;
}

.control-label{
  margin-top: 25px;
}

.form-control{
  margin-top: 15px;
}

/* .container-fluid{
  height: 50px;
  background-color: #fff;
} */

#contenu{
  margin-bottom: 170px;
}

.text-center{
  /* padding-top: 50px; */
  margin-top: 50px;
}

.col-lg-6{
  margin-top: 25px;
}

.car-body{
  margin: 15px 5px 20px 15px;
}

.btn-light{
  box-shadow: 1px 1.5px 1.5px 1px;
}

.btn-primary {
  box-shadow: 1px 1.5px 1.5px 1px;
}
